/* 

* Rounded Corner / Border Radius
CSS3 memperkenalkan kemampuan untuk membuat rounded corner atau sudut bundar pada box dengan menggunakan properti border-radius. Nilai dari properti ini merupakan tingkat lengkungan border dalam pixel.

exp : 
.rounded {
   border-radius: 10px;
}

standart properti : 
.rounded {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 10px;
}

shorthand properti : 
.rounded {
   border-radius: 10px 5px 10px 5px;
}



*/