/* 
=> Sekarang kita akan mempelajari bagaimana seorang developer bisa memberikan formatting pada keseluruhan teks yang ada pada baris paragraf, seperti menetapkan inden, jarak antar baris, kata dan huruf, dan sebagainya. Maka dari itu, mari kita bahas satu persatu.

* Line Height
=> Properti line-height digunakan untuk mengatur jarak minimal dari garis dasar ke garis dasar dalam menampilkannya teks pada halaman.
Berikut merupakan contoh tiga cara berbeda dalam menerapkan tinggi baris dua kali lebih tinggi dari ukuran font:
exp: 
p {
   line-height: 2;
}
p {
   line-height: 200%;
}
p {
   line-height: 2em;
}

=> Cara pertama merupakan cara yang paling mudah digunakan, karena kita dapat menentukan nilai hanya dengan satu angka, di mana angka tersebut nantinya dikalikan dengan nilai font-size sebelum diterapkan pada nilai properti line-height.
=> Contohnya, ukuran font standar pada paragraf adalah 16 pixel. ,Kita definisikan properti line-height dengan nilai 2, maka nilai properti line-height seharusnya adalah 16 pixel * 2 = 32 pixel (dua kali lebih besar dari ukuran font).

* Text Indent
=> Dalam membuat sebuah dokumen tidak jarang kita membutuhkan jarak/lekuk di awal paragraf. 
=> Kita dapat menentukan nilai properti ini melalui perhitungan panjang dalam px, em, dan in atau bisa menggunakan nilai persentase (%). 
=> Nilai persentase dihitung berdasarkan lebar dari induk elemen.
=> Perlu diingat kembali, properti ini hanya berpengaruh pada awal baris paragraf.
* note:  hanging indent adalah baris pertama pada paragraf yang keluar dari batas elemen yang menampungnya.

* Text Alignment
Berikut ini nilai yang dapat digunakan pada properti text-align:
Nilai Properti					    Fungsi
=> text-align: left				    Membuat perataan teks pada ujung kiri
=> text-align: right				Membuat perataan teks pada ujung kanan
=> text-align: center				Membuat perataan teks secara menengah
=> text-align: justify				Membuat perataan teks yang setara pada ujung kiri dan kanannya

* Text Decoration
Nilai properti						    Fungsi
=> text-decoration: underline			Memberikan garis bawah (underline) pada teks
=> text-decoration: overline			Memberikan garis atas (overline) pada teks
=> text-decoration: line-through		Memberikan efek tulisan dicoret (strikethrough)
=> text-decoration: none				Menghilangkan dekorasi teks yang ada pada elemen

* Text Transform
Nilai Properti							Fungsi
=> text-transform: none					Teks yang ditampilkan sama seperti yang dituliskan
=> text-transform: capitalize			Membuat huruf pertama besar pada tiap katanya
=> text-transform: lowercase			Membuat seluruh teks menggunakan huruf kecil
=> Text-transform: uppercase			Membuat seluruh teks menggunakan huruf besar

* Word and Letter Spacing
=>  properti ini digunakan untuk mengatur spasi atau jarak pada teks.
=> Properti letter-spacing digunakan untuk mengatur jarak antar huruf, 
=> sedangkan word-spacing digunakan untuk mengatur jarak antar kata.

* Text Shadow
=> Memberikan bayangan pada teks telah menjadi hal yang umum digunakan meskipun tidak memiliki dukungan di semua browser. 
=> Nilai dari properti ini cukup rumit karena membutuhkan tiga buah nilai dan satu buah nilai warna sehingga membutuhkan empat nilai dalam satu properti untuk menentukan bayangannya.
    - Nilai pertama : menunjukkan seberapa jauh ke kiri atau kanan (horizontal) bayangan harus ditampakkan.
    - Nilai kedua : menunjukkan jarak ke atas atau ke bawah (vertical) bayangan harus ditampakkan. 
    - Nilai Ketiga (opsional) : menentukan tingkat keburaman yang harus diterapkan pada bayangan.
    - Nilai Keempat :  menentukan warna yang digunakan pada bayangan.
exp: 
p#one {
   text-shadow: 1px 1px 0px #000000;
}

* note: Properti line-height, Word and Letter Spacing dapat diaplikasikan ke seluruh elemen yang ada pada HTML dan nilainya dapat diturunkan pada elemen turunannya.
*/